
//SASS variables

/* colours */
$main-colour: #468570;
$secondary-colour: #D7B62A;
$light-colour-1: #F9F7F7;
$light-colour-2: #a7a487;
$dark-colour: #252F24;
$disabled-colour: #5f5f5f;

/* fonts */
$heading-font-family: 'Bree Serif';
$body-font-family: 'Roboto';

:root{
    /* colours */
    --error-border-colour: #912034;
    --error-bg-colour: #ce8391;
    --good-border-colour: #116d34;
    --good-bg-colour: #70bb8e;
}
