
//SASS variables

/* colours */
$main-colour: #201425;
$secondary-colour: #D7B62A;
$bg-colour: #2f9292;
$light-colour-1: #F9F7F7;
$light-colour-2: #5C4D66;
$dark-colour-1: #912034;
$disabled-colour: #5f5f5f;

/* fonts */
$heading-font-family: 'Bree Serif';
$body-font-family: 'Roboto';
